<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Monster application</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">
    Add monster
  </button>
</mat-toolbar>

<div class="container">
  <div style="margin: top 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="creature">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Creature</th>
          <td mat-cell *matCellDef="let row">{{ row.creature }}</td>
        </ng-container>

        <ng-container matColumnDef="challenge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Challenge</th>
          <td mat-cell *matCellDef="let row">{{ row.challenge }}CR</td>
        </ng-container>

        <ng-container matColumnDef="classification">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            classification
          </th>
          <td mat-cell *matCellDef="let row">{{ row.classification }}</td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>size</th>
          <td mat-cell *matCellDef="let row">{{ row.size }}</td>
        </ng-container>

        <ng-container matColumnDef="armor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>armor</th>
          <td mat-cell *matCellDef="let row">{{ row.armor }}AC</td>
        </ng-container>

        <ng-container matColumnDef="health">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>health</th>
          <td mat-cell *matCellDef="let row">{{ row.health }}HP</td>
        </ng-container>

        <ng-container matColumnDef="alignment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>alignment</th>
          <th></th>
          <td mat-cell *matCellDef="let row">{{ row.alignment }}</td>
        </ng-container>

        <ng-container matColumnDef="legendary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>legendary</th>
          <td mat-cell *matCellDef="let row">
            {{ row.legendary }}
          </td>
        </ng-container>

        <ng-container matColumnDef="portrait">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
          <td mat-cell *matCellDef="let row">
            <img src="{{ row.portrait }}" alt="monster picture" />
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editMonster(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="deleteMonster(row.id)"
              mat-icon-button
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
